<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenue sur notre plateforme</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <div
        style="
          background-color: #83b4ff;
          color: #ffffff;
          padding: 10px 20px;
          text-align: center;
          border-radius: 8px 8px 0 0;
        "
      >
        <h1>Bienvenue sur notre plateforme</h1>
      </div>
      <div style="padding: 20px; line-height: 1.6">
        <p>Bonjour %name%,</p>
        <p>
          Votre compte sur notre plateforme a été créé avec succès. Vous pouvez
          maintenant vous connecter en utilisant les informations de connexion
          suivantes :
        </p>
        <div
          style="
            background-color: #f8f9fa;
            padding: 10px;
            border: 1px solid #e9ecef;
            border-radius: 4px;
          "
        >
          <p><strong>Nom d'utilisateur :</strong> %email%</p>
          <p><strong>Mot de passe :</strong> %password%</p>
        </div>
        <p>Pour accéder à votre compte, cliquez sur le bouton ci-dessous :</p>
        <p>
          <a
            href="https://helpdesk.anyinit.com"
            style="
              display: inline-block;
              padding: 10px 20px;
              margin: 20px 0;
              color: #ffffff;
              background-color: #83b4ff;
              text-decoration: none;
              border-radius: 4px;
            "
            >Se connecter</a
          >
        </p>
        <p>
          Si vous avez des questions ou des préoccupations, n'hésitez pas à nous
          contacter
        </p>
        <p><strong>Cordialement</strong>,</p>
        <p>Support Team</p>
        <p>contact@helpdesk.anyinit.com</p>
        <p>+33 1 23 45 67 89</p>
      </div>
      <div
        style="
          text-align: center;
          padding: 10px;
          color: #777777;
          font-size: 12px;
        "
      >
        <img
          src="https://drive.google.com/uc?export=view&id=1VHNLKLIX9fsMmghUTYWTFUkLXYEfQlIm"
          alt="Logo"
          style="width: 200px; height: 50px"
        />
        <p>&copy; 2024 itService. Tous droits réservés.</p>
      </div>
    </div>
  </body>
</html>
