

.knowledgeadd__buttons {
    display: flex;
    flex-direction: row;
    gap : 10px;
   
}

.form__knowledgeAdd {
    display: flex;
    flex-direction: column;
}

.knowldgebase__container .status {
    width: 150px;
}

